<!DOCTYPE html>
<html lang="en">

<head>
   {{>links}}
</head>

<body>
{{>navbar}}
    <!-- main body -->
    <div class="container-fluid main_body">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_body_left align-items-center">
                        <img class="image" src="images/error.jpg" alt="error">
                        <p>Welcome to Weather Forcast</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button class="error">Home Page</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>