<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>

    {{>navbar}}
    <!-- main body -->
    <div class="container-fluid main_body">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter the City Name" autocomplete="off">
                        <input type="submit" value="Search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInfo">
                    <div class="top_layer">
                        <p id="day">Monday</p>
                        {{!-- <p id="today_date">18 OCT</p> --}}
                        <p><span id="datetime"></span></p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Weather Info</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}

    <script src="js/main.js"></script>
    <script>
        const day = document.getElementById('day')
        const getCurrentDay = () => {

            var weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            let currentTime = new Date();
            days = (weekday[currentTime.getDay()]);
            let day = document.getElementById('day')
            day.innerText = days;
        };
        getCurrentDay();
    </script>

<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = (("0"+dt.getDate()).slice(-2)) +"."+ (("0"+(dt.getMonth()+1)).slice(-2)) +"."+ (dt.getFullYear());
</script>
</body>

</html>